html,
body {
    margin: 0;
    padding: 0;
}

body {
    background: #202020;
    color: white;
    font-family: Arial, sans-serif;
}

#panel {
    padding: 10px;
}

.row {

    display: flex;

    justify-content: space-between;

    align-items: center;

    min-height: 48px;

    padding: 10px;

    border-bottom: 1px solid #404040;
}

.title {
    font-weight: bold;
}

.value {
    color: #cccccc;
}